* {
  font-family: 'Open Sans', sans-serif;
  line-height: normal;
  color: var(--main-font-color);
}

.full-screen {
  height: 100vh;
  width: 100%;
  padding: 30px;
}

.flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
}

.no-select {
  user-select: none;
}

.display-none {
  display: none;
}

.btn-primary {
  border: 1px solid var(--main-button-border-color);
  background-color: var(--main-button-background-color);
  padding: 10px 15px;
  font-size: 1rem;
}

.btn-large {
  font-size: 1.25rem;
  padding: 15px 20px;
}

.btn-sm {
  font-size: 0.85rem;
  padding: 7px 10px;
}

input {
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  outline: none;
  background-color: var(--white);
  border: 1px solid var(--input-border-color);
}

input::placeholder {
  color: var(--input-placeholder-color);
}

:root {
  --main-font-color: #333;
  --main-button-background-color: lightgrey;
  --main-button-border-color: #999;
  --user-status-not-ready-color: red;
  --user-status-ready-color: green;
  --higlight-color: #a3d200;
  --game-finished-color: #00ff00;
  --input-border-color: #999;
  --input-placeholder-color: #888;
  --white: #fff;
}
