.game-fields {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-auto-rows: 1fr;
  gap: 10px 40px;
}

.game-field-right {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  padding: 40px 175px;
  box-sizing: border-box;
  border: 1px solid var(--main-button-border-color);
}

#quit-room-btn {
  margin-bottom: 35px;
}

.user {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 10px;
}

.user > .name {
  margin-left: 15px;
}

.wrapper-progress {
  width: 100%;
  height: 30px;
  margin-top: 5px;
  box-sizing: border-box;
  border: 1px solid var(--main-button-border-color);
}

.user-progress {
  height: 100%;
  background-color: var(--higlight-color);
}

.finished {
  background-color: var(--game-finished-color);
}

.ready-status {
  display: inline-block;
  border-radius: 50%;
  margin: 3px;
  height: 10px;
  width: 10px;
}

.ready-status-red {
  background-color: var(--user-status-not-ready-color);
}

.ready-status-green {
  background-color: var(--user-status-ready-color);
}

#timer {
  font-size: 2.7rem;
}

.wrapper-timer-game {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 0.7rem;
}

#text-container {
  font-size: 1.2rem;
}

.highlight {
  background-color: var(--higlight-color);
  border-bottom: 2px solid var(--higlight-color);
}

.underline {
  border-bottom: 2px solid var(--higlight-color);
}

.wrapper-results > *:not(:last-child) {
  margin-bottom: 10px;
}
.modal-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.commentator-message {
  position: absolute;
  top: 30px;
  right: 10px;
  width: 155px;
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid var(--main-button-border-color);
}
