.wrapper .title {
  margin-bottom: 10px;
}

.rooms {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 10px 10px;
}

.room {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 40px 20px;
  box-sizing: border-box;
  border: 1px solid var(--main-button-border-color);
}

.room > :first-child {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 0.7rem;
}

.room > :nth-child(2) {
  margin-bottom: 15px;
}

.room > :last-child {
  width: 55%;
}
